*{
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open sans/OpenSans-VariableFont_wdth,wght.ttf');
}

html {
    scroll-behavior: smooth;
}



/*Оболочка сайта*/
.wrapper {
    width: 100%;
    height: 100%;
    background: white;
}




/*стили стартовой страницы AXIT*/
.background {
    display: block;
    background: url('../imgs/AXIT background/background.svg') center;
    max-width: 100%;
    height: 1026px;
}



/*затемненный фон бэкграунда (картинка) для AXIT */
.background__color {
    display: block;
    width: 100%;
    height: 1026px;
    background: rgba(0, 0, 0, 0.5);
}



/*стили шапки сайта с навигацией*/
.header {
    position: fixed;
    width: 100%;
    min-height: 75px;
    background: #000000be;
    z-index: 2;
}

.header__contanier {
    max-width: 1170px;
    min-height: 75px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-decoration: none;
}

.header__logo:hover {
    transform: scale(1.2);
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkbox_hamburger {
    display: none;
}

.menu__item {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.menu__link:not(:last-child) {
    margin-right: 65px;
}

.menu__link:last-child {
    margin-right: 30px;
}

.menu__link a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__link :hover {
    transform: scale(1.2);
}



/*стили основного контента AXIT*/
.body__AXIT {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 951px;
    margin: 0 auto;
    padding-top: 75px;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
}

.AXIT__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.AXIT__title {
    display: flex;
    max-width: 270px;
    min-height: 100px;
    margin-top: 231px;
}

.AXIT__subtitle {
    max-width: 670px;
    min-height: 168px;
    margin-top: 73px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
}

.AXIT__separator {
    max-width: 170px;
    border: 1px solid #FFFFFF;
    margin-top: 55px;
}

.AXIT__text {
    max-width: 270px;
    min-height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 42px;
}

.AXIT__button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 270px;
    min-height: 58px;
    margin-top: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.AXIT__button a:hover {
    border: 3px solid rgba(236, 121, 121, 1);
    font-size: 26px;
    color: rgba(236, 121, 121, 1);
    border-radius: 10px;
    transform: scale(1.1)
}

.AXIT__button a:active {
    box-shadow: inset 0px 0px 10px 3px #b43636;
    border: 3px solid #b43636;
    border-radius: 10px;
    font-size: 18px;
}



/*стили окна регистрации AXIT*/
.AXIT__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 470px;
    min-height: 450px;
    background: #FFFFFF;;
    margin-top: 208px;
    border-radius: 10px;
}

.form__title {
    max-width: 100%;
    min-height: 90px;
    padding: 0px 70px 0px 75px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #333333;
}

.form__title span {
    color: rgba(236, 121, 121, 1);
}

.form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    min-height: 180px;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
}

.form__input input{
    min-width: 100%;
    min-height: 38px;
    border-bottom: 1px solid #BDBDBD;
}

.form__input input:hover {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.form__input input:focus {
    box-shadow: inset 0px 0px 10px 3px rgb(216, 215, 215);
}

.form__input input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.form__enter {
    min-width: 100%;
    min-height: 60px;
    vertical-align: text-top;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.form__enter:hover {
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    background: #AB4949;
    cursor: pointer;
}

.form__enter:active {
    box-shadow: inset 0px 0px 10px 3px #b43636;
    font-size: 15px;
}



/*стили подвала стартовой страницы AXIT*/
.footer__AXIT {
    width: 100%;
    min-height: 140px;
    margin: 0 auto;
    background: #F8EFEF;
}

.footer-axit__contanier {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 140px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
}

.footer-axit__content {
    max-width: 470px;
    min-height: 140px;
}

.footer-axit__title {
    display: flex;
    align-items: center;
    max-width: 470px;
    min-height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}


.footer-axit__text {
    max-width: 470px;
    min-height: 42px;
    margin-top: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.footer-axit__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    min-height: 140px;
}

.footer-axit__icons a :hover {
    transform: scale(1.2);
}



/*стили страницы Табы*/
.tab__page {
    width: 100%;
    height: 689px;
    background: #FFFFFF;;
    margin: 0 auto;
}

.tab__wrapper {
    max-width: 1170px;
    min-height: 540px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 99px 15px;
    box-sizing: content-box;
}

.tab__wrapper > input[type="radio"] {
    display: none;
}

.tab__wrapper > div {
    display: none;
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
}

#tab_1:checked ~ .content__tab1,
#tab_2:checked ~ .content__tab2,
#tab_3:checked ~ .content__tab3 {
    display: flex;
}

label {
    display: inline-block;
    width: calc(203 / 1170 * 100%);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.15s ease-in-out;
    color: #333333;
    position: relative;
    top: 1px;
    cursor: pointer;
}

label:hover {
    font-weight: 900;
    color: red;
}

.tab__wrapper>label:not(:first-of-type) {
    margin-left: -4px;
    border-left: none;
}

.tab__wrapper>input[type="radio"]:checked + label {
    background: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
}

.tab__wrapper>input[type="radio"]:checked + label[for="tab_2"] {
    background: yellowgreen;
    border-bottom: 1px solid yellowgreen;
}

.tab__wrapper>input[type="radio"]:checked + label[for="tab_3"] {
    background: aquamarine;
    border-bottom: 1px solid aquamarine;
}

.content__tab1 {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 501px;
    background: rgb(245, 245, 245);
}

.tab1__items {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    min-height: 445px;
    margin-left: 100px;
}

.tab1__title {
    display: flex;
    align-items: center;
    max-width: 570px;
    min-height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tab1__text {
    max-width: 570px;
    min-height: 210px;
    margin-top: 27px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tab1__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    min-height: 58px;
    margin-top: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: #EC7979;
    color: #FFFFFF;
    text-decoration: none;
}

.tab1__button:hover {
    border: 1px solid #f15b5b;
    border-radius: 5px;
    font-size: 24px;
    box-sizing: border-box;
}

.tab1__button:active {
    box-shadow: inset 0px 0px 10px 3px #b43636;
    border: 1px solid #f15b5b;
    border-radius: 5px;
    font-size: 18px;
}

.tab1__img {
    max-width: 470px;
    min-height: 500px;
}

.tab1__img img {
    display: block;
    width: 100%;
}

.content__tab2 {
    width: 1170px;
    height: 501px;
    background: yellowgreen;
}

.content__tab3 {
    width: 1170px;
    height: 501px;
    background: aquamarine;
}



/*стили страницы WHY THIS IS AWESOME*/
.awesome__page {
    width: 100%;
    height: 723px;
    background: #FFFFFF;
    margin: 0 auto;
}

.awesome__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 665px;
    margin: 0 auto;
    padding: 50px 15px;
    box-sizing: content-box;
}

.awesome__content-top {
    max-width: 1170px;
    min-height: 211px;
}

.content-top__title {
    max-width: 1170px;
    min-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.content-top__separator {
    max-width: 170px;
    margin: 0 auto;
    border: 0.1px solid #EC7979;
}

.content-top__subtitle {
    max-width: 1170px;
    min-height: 21px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

.awesome__content-bottom {
    max-width: 1170px;
    min-height: 383px;
    display: flex;
    justify-content: space-between;
}

.awesome__content-bottom > div {
    max-width: 370px;
    min-height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-bottom__title {
    max-width: 370px;
    min-height: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #000000;
}

.content-bottom__text {
    max-width: 370px;
    min-height: 105px;
    margin-top: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}



/*стили страницы Pricing Options*/
.pricing__page {
    width: 100%;
    min-height: 900px;
    margin: 0 auto;
    background: #F5F5F5;
}

.pricing__contanier {
    max-width: 1170px;
    min-height: 800px;
    margin: 0 auto;
    padding: 50px 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__content-top {
    max-width: 1170px;
    min-height: 211px;
}

.pricing__title {
    max-width: 1170px;
    min-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
}

.pricing__separator {
    max-width: 170px;
    height: 0px;
    margin: 0 auto;
    border: 0.1px solid #EC7979;
}

.pricing__subtitle {
    max-width: 1170px;
    min-height: 21px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

.pricing__content-bottom {
    max-width: 1170px;
    min-height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.prising__options {
    width: 370px;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options__list {
    width: 100%;
}

.options__item1 {
    min-height: 60px;
    background: #333333;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.options__item2 {
    min-height: 100px;
    background: #333333;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.options__item3 {
    min-height: 50px;
    background: #333333;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

.otions__item4 {
    min-height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #86878B;
}

.prising__options:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
}

.options__list :hover {
    background: rgba(127, 255, 212, 0.7);
    cursor: pointer;
}



/*стили страницы customers*/
.customers__page {
    width: 100%;
    min-height: 744px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.customers__contanier {
    max-width: 1170px;
    min-height: 630px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers__content-top {
    max-width: 1170px;
    min-height: 211px;
}

.customers__title {
    max-width: 1170px;
    min-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
}

.customers__separator {
    max-width: 170px;
    margin: 0 auto;
    border: 0.1px solid #EC7979;
    box-sizing: border-box;
}

.customers__subtitle {
    max-width: 1170px;
    min-height: 21px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

.customers__content-bottom {
    max-width: 1170px;
    min-height: 336px;
    display: flex;
    justify-content: space-between;
}

.customers__content {
    width: calc(370 / 1170 * 100%);
    min-height: 336px;
}

.customers__text {
    max-width: 370px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
}

.customers__triangle {
    max-width: 0;
    max-height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    margin-left: 70px;
}

.customers__content img {
    display: block;
    margin-top: 46px;
}

.customers__name {
    max-width: 269px;
    min-height: 54px;
    margin-top: -70px;
    margin-left: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

.customers__Manager {
    display: inline-block;
    max-width: 270px;
    min-height: 21px;
    margin-left: 100px;
    margin-top: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}



/*стили страницы STYLISH AXURE DESIGN*/
.stylish__page {
    width: 100%;
    min-height: 442px;
    background: url('../imgs/STYLISH AXURE DESIGN/background stylish.svg') center;
}

.stylish__page-color {
    width: 100%;
    min-height: 442px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0 0 0;
    box-sizing: border-box;
}

.stylish__contanier {
    max-width: 1170px;
    min-height: 342px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.stylish__title {
    max-width: 1170px;
    min-height: 150px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.stylish__separator {
    max-width: 170px;
    margin: 0 auto;
    border: 0.1px solid #FFFFFF;
    box-sizing: border-box;
}

.stylish__subtitle {
    max-width: 1170px;
    min-height: 21px;
    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.stylish__button {
    display: block;
    width: 370px;
    min-height: 58px;
    margin: 73px auto;
    background: none;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.stylish__button:hover {
    border: 3px solid rgba(236, 121, 121, 1);
    font-size: 26px;
    color: rgba(236, 121, 121, 1);
    border-radius: 10px;
    cursor: pointer;
}

.stylish__button:active {
    box-shadow: inset 0px 0px 10px 3px #b43636;
    border: 3px solid #b43636;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}



/*стили страницы contact us*/
.contact__page {
    width: 100%;
    min-height: 722px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 50px 0;
    box-sizing: border-box;
}

.contact__contanier {
    max-width: 1170px;
    min-height: 622px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__content-top {
    max-width: 1170px;
    min-height: 211px;
}

.contact__title {
    max-width: 1170px;
    min-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
}

.contact__separator {
    max-width: 170px;
    margin: 0 auto;
    border: 0.1px solid #EC7979;
    box-sizing: border-box;
}

.contact__subtitle {
    max-width: 1170px;
    height: 21px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

.contact__content-bottom {
    max-width: 1170px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact__input-fields {
    min-width: 100%;
    height: 214px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact__input-fields input {
    width: calc(570 / 1170 * 100%);
    min-height: 38px;
    border-bottom: 1px solid #BDBDBD;
    box-sizing: border-box;
}

.contact__input-fields input:not(:first-child) {
    margin-top: 50px;
}

.contact__input-fields input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.contact__input-fields input:hover {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact__input-fields input:focus {
    box-shadow: inset 0px 0px 10px 3px rgb(216, 215, 215);
}

.contact__input-fields textarea {
    width: calc(570 / 1170 * 100%);
    min-height: 214px;
    resize: none;
    border-bottom: 1px solid #BDBDBD;
}

.contact__input-fields textarea::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.contact__input-fields textarea:hover {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact__input-fields textarea:focus {
    box-shadow: inset 0px 0px 10px 3px rgb(216, 215, 215);
}

.contact__button {
    width: 370px;
    min-height: 58px;
    background: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.contact__button:hover {
    border: 1px solid #f15b5b;
    border-radius: 5px;
    font-size: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.contact__button:active {
    box-shadow: inset 0px 0px 10px 3px #b43636;
    border: 1px solid #f15b5b;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}



/*стили подвала всего сайта*/
.footer__page {
    width: 100%;
    min-height: 163px;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
    background: #000000;

}

.footer__contanier {
    max-width: 1170px;
    min-height: 101px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__icons {
    width: calc(596 / 1170 * 100%);
    min-height: 53.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons a {
    text-decoration: none;
}

.footer__icons a:hover {
    transform: scale(1.2);
}

.footer__subtitle {
    max-width: 1170px;
    min-height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}
